<!DOCTYPE html>
<html lang="en">
{% load static %}

<body>

{% include 'base.html' %}

{% block content %}

    <div align="center" style="font-family: Constantia; color: #ba2121">

        <table style="position:inherit;width:800px;height:20px; align-self: center" id="Table">

            <tr align="center" style="height: 50px;font-size: x-large; color: #efefef">
            <th > Имя </th>
            <th > Роль </th>
            <th > Дата приема </th>
            </tr>

            {% for wfaccount in wfaccounts %}
                <tr align="center" style="position:inherit;height: 50px;font-family: 'Droid Serif';font-size: inherit; color: #efefef">
                    <td > <a href="/profile/{{ wfaccount.Name }}">{{ wfaccount.Name }}</a> </td> </td>
                    <td > {{ wfaccount.Role }} </td>
                    <td > {{ wfaccount.Date_Of_Receipt }} </td>
                    <td></td>
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}

</body>
</html>